<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.biz.cbt.dao.CBTDao">
 	
 	<select id="getMaxCBCode" resultType="String">
 		SELECT MAX(cb_code) FROM tbl_cbt
 	</select>
    <select id="selectAll" resultType="CBTDTO">
          SELECT
            CB_CODE,
			CB_QUIZ,
			CB_EX01,
			CB_EX02,
			CB_EX03,
			CB_EX04,
			CB_ANSWER
         FROM tbl_cbt
    </select>
    <select id="findById" resultType="CBTDTO">
          SELECT
            CB_CODE,
			CB_QUIZ,
			CB_EX01,
			CB_EX02,
			CB_EX03,
			CB_EX04,
			CB_ANSWER
         FROM tbl_cbt
         WHERE CB_CODE = #{cb_code}
    </select>
    <insert id="insert" parameterType="CBTDTO">
			INSERT INTO tbl_cbt (
			    CB_CODE,
				CB_QUIZ,
				CB_EX01,
				CB_EX02,
				CB_EX03,
				CB_EX04,
				CB_ANSWER
			) VALUES (
				#{cb_code},
				#{cb_quiz},
				#{cb_ex01},
				#{cb_ex02},
				#{cb_ex03},
				#{cb_ex04},
				#{cb_answer}
			)
    </insert>
    <update id="update" parameterType="CBTDTO">
          UPDATE tbl_cbt SET
          	CB_QUIZ = #{cb_quiz, jdbcType=VARCHAR},
          	CB_EX01 = #{cb_ex01, jdbcType=VARCHAR},
			CB_EX02 = #{cb_ex02, jdbcType=VARCHAR},
			CB_EX03 = #{cb_ex03, jdbcType=VARCHAR},
			CB_EX04 = #{cb_ex04, jdbcType=VARCHAR},
			CB_ANSWER = #{cb_answer, jdbcType=VARCHAR}
		WHERE CB_CODE = #{cb_code}
    </update>
    <delete id="delete">
    
    	DELETE FROM tbl_cbt
    	WHERE CB_CODE = #{cb_code}
    	
    </delete>
        
 </mapper> 